wcf-client/Connected Services/Library/library2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_authors" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="NoSuchBookException">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NoSuchBookException" nillable="true" type="tns:NoSuchBookException" />
</xs:schema>